<div class="about-section-lg">
  <img src="/static/aron/img/about.jpg" />
  <div>
    <p class="about-title">درباره <span>آرون گروپس</span></p>
    <p class="about-text">
      آرون گروپس پس از چند سال <b>تجربه موفق</b> در بازار معاملات آنلاین، با
      اطمینان از رضایت خاطر بیش از<b> ۱۰ هزار </b>معامله‌گر، اکنون با ارائه
      ابزارهای معاملاتی بیشتر، فرصت تجربه <b>معاملات آنلاین</b> در بازارهای
      جهانی را برای<b> همه افراد </b>فراهم کرده است.
    </p>
    <p class="about-text">
      بروکر آرون گروپس در سال <b>2022</b> اسپانسر رویدادهای مهمی از جمله
      <b>IFX EXPO </b>دوبی و بلاکچین اکونومی استانبول و فارکس اکسپو دبی شد.
      دریافت جایزه‌<b> سریع ترین بروکر </b> در رشد و توسعه در فارکس اکسپو دبی و
      تقدیر ویژه در بلاکچین اکونومی استانبول از دستاوردهای مهم این رویدادها بود.
    </p>
    <div class="section-button-img">
      <button class="button">درباره ما</button>
    </div>
  </div>
</div>
<div class="about-section-sm">
  <p class="about-title">درباره <span>آرون گروپس</span></p>
  <p class="about-text">
    آرون گروپس پس از چند سال تجربه موفق در بازار معاملات آنلاین، با اطمینان از
    رضایت خاطر بیش از ۱۰ هزار معامله‌گر، اکنون با ارائه ابزارهای معاملاتی بیشتر،
    فرصت تجربه معاملات آنلاین در بازارهای جهانی را برای همه افراد فراهم کرده
    است.
  </p>
  <img class="img-center" src="/static/aron/img/about.jpg" />
  <p class="about-text">
    بروکر آرون گروپس در سال 2022 اسپانسر رویدادهای مهمی از جمله IFX EXPO دوبی و
    بلاکچین اکونومی استانبول و فارکس اکسپو دبی شد. دریافت جایزه‌ سریع ترین بروکر
    در رشد و توسعه در فارکس اکسپو دبی و تقدیر ویژه در بلاکچین اکونومی استانبول
    از دستاوردهای مهم این رویدادها بود.
  </p>
  <div class="section-button-img">
    <button class="button">درباره ما</button>
  </div>
</div>
