{% extends "../base.html" %}
{% load static %}

{% block style %}
<link href="{% static 'aron/css/aron.css' %}" rel="stylesheet" />
{% endblock %}

{% block body%}
{% include './intro.html' %}
{% comment %} {% include './market-overview.html' %} {% endcomment %}
{% include './options.html' %}
{% include './about.html' %}
{% include './services.html' %}
{% include './features.html' %}
{% include './methods.html' %}
{% include './market.html'%} 
{% include './traders.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    const data = {{ data|safe }};
</script>
<script type="text/javascript" src="{% static 'aron/js/aron.js' data=data %}"></script>
{% endblock %}