<div class="features-section">
  <div class="row sec-1">
    <div class="features-info">
      <div class="features-row features-title">
        <img src="/static/aron/img/star.png" />
        <p>بیش از ۱۰۰۰ نماد معاملاتی متنوع</p>
      </div>
      <p class="features-text">
        نمادهای تومانی، فارکس، فلزات، شاخص‌ها، سهام، کریپتوکارنسی، نمادهای ورزشی
      </p>
      <p class="features-mini-text">
        در بروکر جهانی آرون گروپس برای اولین بار در دنیا می توانید بیش از 1000
        بازار و نماد معاملاتی مختلف را با کمترین کمیسیون و اسپرد معامله کنید.
      </p>

      <div class="section-button"><button class="button">ثبت نام</button></div>
    </div>
    <img class="features-img img-1" src="/static/aron/img/f_1.png" />
  </div>
  <div class="row sec-2">
    <img class="features-img image-lg" src="/static/aron/img/f_2.png" />
    <div class="features-info">
      <div class="features-row features-title">
        <img src="/static/aron/img/star.png" />
        <p>متاتریدر ۵</p>
      </div>
      <p class="features-text">هر‌آنچه برای ترید نیاز دارید</p>
      <p class="features-mini-text">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است.ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
        صنعت چاپ، و با استفاده از طراحان گرافیک است.
      </p>
      <div class="section-button">
        <button class="button">عضویت و دریافت</button>
      </div>
      <div class="section-button-img">
        <a><img src="/static/aron/img/appstore.png" /></a
        ><a><img src="/static/aron/img/googleplay.png" /></a>
      </div>
    </div>
    <img class="features-img image-sm" src="/static/aron/img/f_2.png" />
  </div>
  <div class="row sec-3">
    <div class="features-info">
      <div class="features-row features-title">
        <img src="/static/aron/img/star.png" />
        <p>زولوتریدر</p>
      </div>
      <p class="features-text">
        فرصتی برای معامله در کنار بهترین‌ها با شیوه کپی تریدینگ
      </p>
      <p class="features-mini-text">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است.ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
        صنعت چاپ، و با استفاده از طراحان گرافیک است.
      </p>
      <div class="section-button">
        <button class="button">ثبت‌ نام و شروع کپی ‌تریدینگ</button>
      </div>
      <div class="section-button-img">
        <a><img src="/static/aron/img/Microsoft.png" /></a>
      </div>
    </div>
    <img class="features-img img-3" src="/static/aron/img/f_3.png" />
  </div>
</div>
