<div class="footer-section">
  <div class="footer-section-1">
    <div>
      <img class="" src="/static/aron/img/logo.png" />
      <p class="co-info">
        شرکت آرون گروپس واقع در سنت وینسنت و گرانادین، خیابان جیمز، ساختمان بانک
        سنت وینسنت، طبقه اول، به شماره پروانه 542LLC2020 توسط سازمان ثبت
        شرکت‌های سنت وینسنت و گرانادین و FSA به ثبت رسیده است.
      </p>
    </div>
    <div class="special">
      <p class="footer-title">پیشنهاد ویژه</p>
      <a href="#">
        <li>آرون بانک</li>
      </a>
      <a href="#">
        <li>صندوق سرمایه‌گذاری</li>
      </a>
      <a href="#">
        <li>طرح بونوس</li>
      </a>
      <a href="#">
        <li>باشگاه فوتبالی آرون</li>
      </a>
      <a href="#">
        <li>طرح آی بی</li>
      </a>
    </div>
    <div>
      <p class="footer-title">راه های ارتباطی</p>
      <div class="footer-row">
        <img src="/static/aron/img/location.png" />
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با</p>
      </div>
      <div class="footer-row">
        <img src="/static/aron/img/sms.png" />
        <p>aronsupport@arongroups.co</p>
      </div>
      <div class="footer-row">
        <img src="/static/aron/img/call.png" />
        <p>دفتر انگلستان</p>
        <p>00442037475808</p>
      </div>
      <div class="footer-row">
        <img src="/static/aron/img/call.png" />
        <p>دفتر قبرس</p>
        <p>0035725654181</p>
      </div>
    </div>
  </div>
  <hr color="#2C313A" width="99%" />
  <div class="footer-section-2">
    <div class="footer-row">
      <img src="/static/aron/img/copyright.png" />
      <p class="copyright-text">
        کلیه حقوق این وبسایت متعلق به بروکر آرون گروپس می‌باشد
      </p>
    </div>
    <div class="footer-row share-icons">
      <a href="#"><img src="/static/aron/img/linkedin.png" /></a>
      <a href="#"><img src="/static/aron/img/telegram.png" /></a>
      <a href="#"><img src="/static/aron/img/youtube.png" /></a>
      <a href="#"><img src="/static/aron/img/twitter.png" /></a>
      <a href="#"><img src="/static/aron/img/facebook.png" /></a>
      <a href="#"><img src="/static/aron/img/insta.png" /></a>
    </div>
  </div>
</div>
