<div class="header-section-lg">
  <div class="header-menu line">
    <img class="logo-img" src="/static/aron/img/logo.png" alt="logo" />
    <div class="header-menu menu-border">
      <a class="active" href="#">خانه</a>
      <a href="#">ترید</a>
      <a href="#">آموزش ها</a>
      <a href="#">درباره ما</a>
      <a href="#">بلاگ</a>
    </div>
  </div>
  <div class="lang-sec">
    <select name="lang" id="lang">
      <option value="farsi">Fa</option>
      <option value="english">En</option>
    </select>
    <button href="#" class="button">ورود به حساب</button>
  </div>
</div>
<div class="header-section-sm">
  <div class="container">
    <button data-trigger="navbar_main" class="d-lg-none btn mt-2 " type="button">
      <img src="/static/aron/img/menu.svg" alt="menu" />
    </button>
    <nav
      id="navbar_main"
      class="mobile-offcanvas navbar navbar-expand-lg navbar-dark"
    >
      <div class="container-fluid">
        <div class="offcanvas-header">
          <button class="btn-close float-end"></button>
        </div>
        <img
          class="navbar-brand"
          src="/static/aron/img/white-logo.svg"
          alt="brand"
        />

        <ul class="navbar-nav  pe-0">
          <li class="nav-item d-flex flex-row active mt-5">
            <img class="pe-3" src="/static/aron/img/home-icon.svg" alt="home" /><a
              class="nav-link pe-3 text-white"
              href="#"
              >خانه
            </a>
          </li>
          <li class="nav-item d-flex flex-row">
            <img class="pe-3" src="/static/aron/img/trade-icon.svg" alt="trade" /><a
              class="nav-link pe-3"
              href="#"
            >
              ترید
            </a>
          </li>
          <li class="nav-item d-flex flex-row">
            <img class="pe-3" src="/static/aron/img/teach-icon.svg" alt="teach" /><a
              class="nav-link pe-3"
              href="#"
            >
              آموزش ها
            </a>
          </li>
          <li class="nav-item d-flex flex-row">
            <img class="pe-3" src="/static/aron/img/about-icon.svg" alt="about" /><a
              class="nav-link pe-3"
              href="#"
            >
              درباره ما
            </a>
          </li>
          <li class="nav-item d-flex flex-row">
            <img class="pe-3" src="/static/aron/img/blog-icon.svg" alt="blog" /><a
              class="nav-link pe-3"
              href="#"
            >
              بلاگ
            </a>
          </li>
          <div  class="nav-lang">
            <select name="lang" id="lang">
              <option value="farsi">Persian</option>
              <option value="english">English</option>
            </select></div>
        </ul>
      </div>
    </nav>
  </div>
  <img class="logo-img" src="/static/aron/img/logo2.svg" alt="logo" />
  <button href="#" class="button account-sm">ورود به حساب</button>
</div>
