<div class="intro-section">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div>
            <div class="intro-info">
              <div class="dec-1">
                <img
                  src="/static/aron/img/circle.svg"
                  alt="circle"
                  width="20px"
                />
                <p>بستری برای معامله گران با تفکر حرفه ای</p>
              </div>
              <h1 class="intro-title">سرویس های معاملاتی آرون گروپس</h1>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است.
              </p>
              <div class="intro-buttons">
                <button class="button first">عضویت</button>
                <button class="button-2">حساب آزمایشی</button>
              </div>
            </div>
            <img
              src="/static/aron/img/intro-1.png"
              alt="intro"
              class="slide-img"
            />
          </div>
        </div>
        <div class="item">
          <div>
            <div class="intro-info">
              <div class="dec-1">
                <img
                  src="/static/aron/img/circle.svg"
                  alt="circle"
                  width="20px"
                />
                <p>بستری برای معامله گران با تفکر حرفه ای</p>
              </div>
              <h1 class="intro-title">سرویس های معاملاتی آرون گروپس</h1>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است.
              </p>
              <div class="intro-buttons">
                <button class="button first">عضویت</button>
                <button class="button-2">حساب آزمایشی</button>
              </div>
            </div>
            <img
              src="/static/aron/img/intro-1.png"
              alt="intro"
              class="slide-img"
            />
          </div>
        </div>
        <div class="item">
          <div>
            <div class="intro-info">
              <div class="dec-1">
                <img
                  src="/static/aron/img/circle.svg"
                  alt="circle"
                  width="20px"
                />
                <p>بستری برای معامله گران با تفکر حرفه ای</p>
              </div>
              <h1 class="intro-title">سرویس های معاملاتی آرون گروپس</h1>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است.
              </p>
              <div class="intro-buttons">
                <button class="button first">عضویت</button>
                <button class="button-2">حساب آزمایشی</button>
              </div>
            </div>
            <img
              src="/static/aron/img/intro-1.png"
              alt="intro"
              class="slide-img"
            />
          </div>
        </div>
        <div class="item">
          <div>
            <div class="intro-info">
              <div class="dec-1">
                <img
                  src="/static/aron/img/circle.svg"
                  alt="circle"
                  width="20px"
                />
                <p>بستری برای معامله گران با تفکر حرفه ای</p>
              </div>
              <h1 class="intro-title">سرویس های معاملاتی آرون گروپس</h1>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است.
              </p>
              <div class="intro-buttons">
                <button class="button first">عضویت</button>
                <button class="button-2">حساب آزمایشی</button>
              </div>
            </div>
            <img
              src="/static/aron/img/intro-1.png"
              alt="intro"
              class="slide-img"
            />
          </div>
        </div>
        <div class="item">
          <div>
            <div class="intro-info">
              <div class="dec-1">
                <img
                  src="/static/aron/img/circle.svg"
                  alt="circle"
                  width="20px"
                />
                <p>بستری برای معامله گران با تفکر حرفه ای</p>
              </div>
              <h1 class="intro-title">سرویس های معاملاتی آرون گروپس</h1>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                استفاده از طراحان گرافیک است.
              </p>
              <div class="intro-buttons">
                <button class="button first">عضویت</button>
                <button class="button-2">حساب آزمایشی</button>
              </div>
            </div>
            <img
              src="/static/aron/img/intro-1.png"
              alt="intro"
              class="slide-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
