<div class="methods-section">
  <p class="methods-title">روش های پرداخت بروکر آرون گروپس</p>
  <p class="methods-text">
    به هر روشی که مایل هستید <b>واریز یا برداشت</b> انجام دهید
  </p>
  <div class="methods-lg">
    <div class="methods">
      <img src="/static/aron/img/payeer.png" />
      <img src="/static/aron/img/ininal.png" />
      <img src="/static/aron/img/visa.png" />
      <img src="/static/aron/img/mastercard.png" />
      <img src="/static/aron/img/topchange.png" />
      <img src="/static/aron/img/tether.png" />
      <img src="/static/aron/img/perfectmoney.png" />
      <img src="/static/aron/img/ziraat.png" />
    </div>
  </div>
  <div class="methods-sm">
    <div class="methods-row">
      <img src="/static/aron/img/payeer.png" />
      <img src="/static/aron/img/ininal.png" />
      <img src="/static/aron/img/visa.png" />
      <img src="/static/aron/img/mastercard.png" />
      <img src="/static/aron/img/topchange.png" />
      <img src="/static/aron/img/tether.png" />
      <img src="/static/aron/img/perfectmoney.png" />
      <img src="/static/aron/img/ziraat.png" />
    </div>
  </div>
  <div class="section-button">
    <button class="button">دریافت بونوس خوشامدگویی</button>
  </div>
</div>
