<div class="options-section">
  <div class="options-lg">
    <div id="options" class="owl-carousel owl-theme">
      <div class="option-card">
        <div class="circle"><img src="/static/aron/img/headphone.svg" /></div>
        <p class="options-title">پشتیبانی۲۴ ساعته ۷ روز هفته</p>
        <p class="options-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
      </div>
      <div class="option-card">
        <div class="circle"><img src="/static/aron/img/teacher.svg" /></div>
        <p class="options-title">آموزش های رایگان در آکادمی آرون</p>
        <p class="options-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
      </div>
      <div class="option-card">
        <div class="circle"><img src="/static/aron/img/convertcard.svg" /></div>
        <p class="options-title">واریز و برداشت متنوع همراه با کش بک</p>
        <p class="options-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
      </div>
      <div class="option-card">
        <div class="circle"><img src="/static/aron/img/gift.svg" /></div>
        <p class="options-title">طرح های تشویقی و بونوس</p>
        <p class="options-text">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
      </div>
    </div>
  </div>
  <div class="section-button"><button class="button">شروع معاملات</button></div>
</div>
