<div class="services-section">
  <div class="services-title relative">
    <img class="yellow-back" src="/static/aron/img/Rectangle.svg" />
    <p>برترین سرویس های آرون گروپس</p>
  </div>
  <div id="s-list" class="owl-carousel owl-theme scroll">
    <div class="item">
      <div>
        <img src="/static/aron/img/aronbank.png" />
        <p class="services">آرون <b>بانک</b></p>
        <p class="services-info">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <div class="section-button">
          <button class="button service-button">عضویت در آرون گروپس</button>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <img src="/static/aron/img/aronbox.png" />
        <p class="services"><b>صندوق سرمایه گذاری</b> آرون</p>
        <p class="services-info">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <div class="section-button">
          <button class="button service-button">عضویت در آرون گروپس</button>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <img src="/static/aron/img/aronfootball.png" />
        <p class="services">آرون <b>فوتبال</b></p>
        <p class="services-info">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <div class="section-button">
          <button class="button service-button">عضویت در آرون گروپس</button>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <img src="/static/aron/img/aronbank.png" />
        <p class="services">آرون <b>بانک</b></p>
        <p class="services-info">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است.
        </p>
        <div class="section-button">
          <button class="button service-button">عضویت در آرون گروپس</button>
        </div>
      </div>
    </div>
  </div>
</div>
