<div class="traders-section">
  <div class="traders-title relative">
    <img class="yellow-back" src="/static/aron/img/Rectangle.svg" />
    <p>معامله گران برتر آرون گروپس</p>
  </div>
  <div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked />
    <input type="radio" id="tab2" name="tab-control" />
    <input type="radio" id="tab3" name="tab-control" />
    <ul>
      <li title="weakly">
        <label for="tab1" role="button"><span>هفتگی</span></label>
      </li>
      <li title="monthly Contents">
        <label for="tab2" role="button"><span>ماهانه</span></label>
      </li>
      <li title="yearly">
        <label for="tab3" role="button"><span>سالانه</span></label>
      </li>
    </ul>
    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <div class="traders">
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="traders">
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="traders">
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="quotes-title relative">
    <img class="yellow-back" src="/static/aron/img/Rectangle.svg" />
    <p>متن لورم اپیسوم آرون گروپس</p>
  </div>
  <p class="quotes-text">
    متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
  </p>
  <!--        DISPLAY 3 ITEMS        -->
  <div class="slider-rotate" id="slider-2">
    <div class="slider-rotate__container">
      <!-- ITEMS -->
      <div class="slider-rotate__item">
        <span class="position">1</span>
        <div class="quote-card">
          <div class="confirm">
            <img src="/static/aron/img/verify.svg" />
            <p>کاربر تایید شده</p>
          </div>
          <p>
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاق
          </p>
          <div class="trader-verify-sec">
            <div class="trader-verify">
              <img src="/static/aron/img/trader.png" />
              <div>
                <p class="trader-name">احسان نوروزی</p>
                <div class="stars">
                  <img src="/static/aron/img/star.svg" />
                  <p class="rate">۴.۵</p>
                </div>
              </div>
            </div>
            <p class="quote-date">۱۲ فروردین ۱۴۰۱</p>
          </div>
        </div>
      </div>
      <div class="slider-rotate__item">
        <span class="position">2</span>
        <div class="quote-card">
          <div class="confirm">
            <img src="/static/aron/img/verify.svg" />
            <p>کاربر تایید شده</p>
          </div>
          <p>
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاق
          </p>
          <div class="trader-verify-sec">
            <div class="trader-verify">
              <img src="/static/aron/img/trader.png" />
              <div>
                <p class="trader-name">احسان نوروزی</p>
                <div class="stars">
                  <img src="/static/aron/img/star.svg" />
                  <p class="rate">۴.۵</p>
                </div>
              </div>
            </div>
            <p class="quote-date">۱۲ فروردین ۱۴۰۱</p>
          </div>
        </div>
      </div>
      <div class="slider-rotate__item">
        <span class="position">3</span>
        <div class="quote-card">
          <div class="confirm">
            <img src="/static/aron/img/verify.svg" />
            <p>کاربر تایید شده</p>
          </div>
          <p>
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاق
          </p>
          <div class="trader-verify-sec">
            <div class="trader-verify">
              <img src="/static/aron/img/trader.png" />
              <div>
                <p class="trader-name">احسان نوروزی</p>
                <div class="stars">
                  <img src="/static/aron/img/star.svg" />
                  <p class="rate">۴.۵</p>
                </div>
              </div>
            </div>
            <p class="quote-date">۱۲ فروردین ۱۴۰۱</p>
          </div>
        </div>
      </div>
      <div class="slider-rotate__item">
        <span class="position">4</span>
        <div class="quote-card">
          <div class="confirm">
            <img src="/static/aron/img/verify.svg" />
            <p>کاربر تایید شده</p>
          </div>
          <p>
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاق
          </p>
          <div class="trader-verify-sec">
            <div class="trader-verify">
              <img src="/static/aron/img/trader.png" />
              <div>
                <p class="trader-name">احسان نوروزی</p>
                <div class="stars">
                  <img src="/static/aron/img/star.svg" />
                  <p class="rate">۴.۵</p>
                </div>
              </div>
            </div>
            <p class="quote-date">۱۲ فروردین ۱۴۰۱</p>
          </div>
        </div>
      </div>
      <div class="slider-rotate__item">
        <span class="position">5</span>
        <div class="quote-card">
          <div class="confirm">
            <img src="/static/aron/img/verify.svg" />
            <p>کاربر تایید شده</p>
          </div>
          <p>
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاق
          </p>
          <div class="trader-verify-sec">
            <div class="trader-verify">
              <img src="/static/aron/img/trader.png" />
              <div>
                <p class="trader-name">احسان نوروزی</p>
                <div class="stars">
                  <img src="/static/aron/img/star.svg" />
                  <p class="rate">۴.۵</p>
                </div>
              </div>
            </div>
            <p class="quote-date">۱۲ فروردین ۱۴۰۱</p>
          </div>
        </div>
      </div>
      <div class="slider-rotate__item">
        <span class="position">6</span>
        <div class="quote-card">
          <div class="confirm">
            <img src="/static/aron/img/verify.svg" />
            <p>کاربر تایید شده</p>
          </div>
          <p>
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاقد هرگونه ارزش معنایی میباشد و صرفا جهت
            متن ازمایشی لورم اپیسوم فاق
          </p>
          <div class="trader-verify-sec">
            <div class="trader-verify">
              <img src="/static/aron/img/trader.png" />
              <div>
                <p class="trader-name">احسان نوروزی</p>
                <div class="stars">
                  <img src="/static/aron/img/star.svg" />
                  <p class="rate">۴.۵</p>
                </div>
              </div>
            </div>
            <p class="quote-date">۱۲ فروردین ۱۴۰۱</p>
          </div>
        </div>
      </div>

      <!-- NAVIGATION -->
      <span
        class="slider-rotate__arrow slider-rotate__arrow--right js-slider-rotate-arrow"
        data-action="next"
        ><i class="fa fa-angle-right fa-3x"></i
      ></span>
      <span
        class="slider-rotate__arrow slider-rotate__arrow--left js-slider-rotate-arrow"
        data-action="prev"
        ><i class="fa fa-angle-left fa-3x"></i
      ></span>
    </div>
  </div>
</div>
