<div class="traders-section">
  <p class="services-title">معامله گران برتر آرون گروپس</p>
  <div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked />
    <input type="radio" id="tab2" name="tab-control" />
    <input type="radio" id="tab3" name="tab-control" />
    <ul>
      <li title="weakly">
        <label for="tab1" role="button"><span>هفتگی</span></label>
      </li>
      <li title="monthly Contents">
        <label for="tab2" role="button"><span>ماهانه</span></label>
      </li>
      <li title="yearly">
        <label for="tab3" role="button"><span>سالانه</span></label>
      </li>
    </ul>
    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <div class="traders">
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="traders">
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="traders">
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
          <div>
            <div class="trader-grade">1</div>
            <div class="trader-info">
              <div>
                <p class="info-title">نام کاربر</p>
                <p class="info-text">ashkan azari</p>
              </div>
              <div>
                <p class="info-title">حجم معامله</p>
                <p class="info-text">۱۵۲,۲۴ لات</p>
              </div>
              <div>
                <p class="info-title">سود</p>
                <p class="info-text">۱۴,۱۲۸,۱۲۴ دلار</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
