{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aron broker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- custom base style -->
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet" />

    <!-- chartJs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block style %} {% endblock %}
  </head>

  <body class="body">
    <div class="row">
      <!-- header section -->
    </div>
    {% block body %} {% endblock %} 
    {% include './aron/footer.html' %}
  </body>
  <!-- custom javascript -->
  <script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js'></script><script  src="./script.js"></script>

  <script type="text/javascript" src="{% static 'base/js/base.js' %}"></script>
  {% block javascript %} {% endblock %}
</html>
