{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aron broker</title>
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> {% endcomment %}
    {% comment %} <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css'> {% endcomment %}
   {% comment %} <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css'> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script> {% endcomment %}
    <!-- custom base style -->
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet" />

    <!-- chartJs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block style %} {% endblock %}
  </head>

  <body class="body">
    <span class="screen-darken"></span>
    {% include './aron/header.html' %}
    {% block body %} {% endblock %} 
    {% include './aron/footer.html' %}
  </body>
  <!-- custom javascript -->
<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
  {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> {% endcomment %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% comment %} <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js'></script> {% endcomment %}
  {% comment %} <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js'></script><script  src="./script.js"></script>  {% endcomment %}

  <script type="text/javascript" src="{% static 'base/js/base.js' %}"></script>
  {% block javascript %} {% endblock %}
</html>
