.about-section-lg {
    margin: 0;
    padding: 5% 8%;
    background-color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.about-section-sm {
    display: none;
}

.about-section-lg img {
    height: 35vw;
}

.about-section-lg div {
    margin-right: 50px;
}

.section-button-img {
    direction: ltr;
}

.section-button {
    margin-top: 20px;
}

.section-button-img img {
    width: 35%;
    margin-top: 20px;
}

.button {
    background-color: #2545d5;
    box-shadow: 0px 4px 38px rgba(37, 69, 213, 0.17);
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    font-family: IRANSans;
}

.about-text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #bfbfbf;
}

.about-title {
    color: #bfbfbf;
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 5%;
    margin-top: 20px;
}

.about-title span {
    color: #2545d5;
    font-weight: 700;
}

.features-section {
    margin: 0;
    padding: 0 0 10% 0;
}

.features-section .sec-1 {
    padding: 2% 8% 0 0;
}

.features-section .sec-2 {
    padding: 2% 4% 0 8%;
}

.features-section .sec-3 {
    padding: 2% 8% 0 8%;
}

.row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.features-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: start;
}

.features-info {
    width: 50%;
}

.features-img {
    height: 100%;
}

.img-1 {
    margin-left: 100px;
}

.features-title p {
    font-size: 1.7rem;
    color: white;
    margin-right: 20px;
}

.features-text {
    font-size: 1.5rem;
    color: #565f71;
    margin: 10px 0;
}

.features-mini-text {
    font-size: 1.2rem;
    color: #565f71;
}

.image-sm {
    display: none;
}

.image-lg {
    display: block;
}

.footer-section {
    margin: 5% 0 0 0;
}

.footer-section-1 {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2% 10% 2% 5%;
}

.footer-section-1 a {
    text-decoration: none;
}

.special {
    margin-right: 20px;
}

.footer-section-2 {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2% 10%;
}

.footer-section-1 div {
    flex: 30%;
    margin-left: 5%;
}

li {
    color: #727d94;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 10px 0;
}

.footer-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: start;
}

.footer-row>a {
    margin: 0 10px;
}

.footer-row p {
    margin: 0 10px;
    color: #727d94;
    font-size: 1rem;
    line-height: 2rem;
}

.co-info {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #3b414e;
}

.copyright-text {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #3b414e !important;
}

.footer-title {
    font-weight: 700;
    font-size: 1.7rem;
    color: white;
}

.methods-section {
    background-color: #f2f4f5;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
}

.methods-title {
    font-weight: 700;
    font-size: 1.8rem;
}

.methods {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.methods img {
    margin: 10px;
    flex: 20%;
}

.methods-lg {
    display: block;
}

.methods-sm {
    display: none;
}

.methods-text {
    font-size: 1.5rem;
    color: #9f9f9f;
}

@media (max-width: 900px) {
    .about-section-lg {
        display: none;
    }

    .methods img {
        flex: 15%;
    }

    .about-section-sm {
        margin: 0;
        padding: 5% 8%;
        background-color: white;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .img-center {
        display: block;
        margin: auto;
        width: 80%;
    }

    .section-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row {
        flex-flow: column;
    }

    .features-section .sec-1 {
        padding: 2% 2% 0 2%;
    }

    .features-section .sec-2 {
        padding: 2% 2% 0 2%;
    }

    .features-section .sec-3 {
        padding: 2% 2% 0 2%;
    }

    .features-info {
        width: 100%;
    }

    .features-title p {
        font-size: 1.3rem;
    }

    .features-text {
        font-size: 1.1rem;
    }

    .features-mini-text {
        font-size: 0.8rem;
    }

    .image-sm {
        display: block;
    }

    .image-lg {
        display: none;
    }

    .section-button-img img {
        width: 90%;
        margin: 10% 0;
    }

    .section-button-img {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .button {
        margin: auto;
    }

    .features-img {
        width: 100%;
    }

    .img-1 {
        margin-left: 0px;
    }

    .img-3 {
        width: 80%;
    }

    .footer-section-1 {
        flex-flow: column;
        padding: 0 5%;
    }

    .footer-section-2 {
        flex-flow: column;
        padding: 2% 5%;
    }

    .special {
        margin-right: 0px;
    }

    .share-icons {
        width: 100%;
        margin-top: 10px;
        direction: ltr;
    }
}

@media (max-width: 700px) {
    .methods-lg {
        display: none;
    }

    .methods-sm {
        display: block;
        direction: ltr;
    }

    .methods-row {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .methods-row::-webkit-scrollbar {
        display: none;
    }

    .methods-row img {
        max-width: 70%;
        padding: 0.75rem;
        margin-bottom: 2rem;
        border: 0;
        flex-basis: 33.333%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .methods-section {
        padding: 5% 2%;
    }

    .methods-title {
        font-weight: 700;
        font-size: 1.3rem;
        text-align: center;
    }

    .methods-text {
        text-align: center;
        font-size: 1.1rem;
        color: #9f9f9f;
        margin: 0px 20px 10px 20px;
    }
}